<body class="bg-grad">
<div class="container py-5" >
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
           <div class="row">
                <div class="col-lg-5 col-md-7 col-sm-7 mx-auto">
                   <div class="card rounded-1">
                        <div class="card-header">
                            <h4 class="mb-0">Login Form</h4>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" id="frmLogin" action="/login" method="POST">
                                <div class="form-group">
                                    <label for="lblemail">Email</label>
                                    <input type="email" autofocus="autofocus" class="form-control form-control-lg rounded-0" name="email" id="email" required>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control form-control-lg rounded-0" name="password" id="password" required>
                                </div>
                                <div class="checkbox mb-3">
                                    <label> 
                                    <input type="checkbox" value="remember-me"> Remember me
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-success btn-lg btn-block" id="btnLogin">Login</button>
                            </form>
                        </div>
                       </div>
                    </div>
            </div>
        </div>
    </div>
   
</div>
</body>

<style>
body{
    font-family: 'Montserrat';
    }
.btn-block {
    border-radius: 50px;
    padding-left: 40px;
    padding-right: 40px;
    border-color: #1d82ff;
    background: linear-gradient(45deg, #665fee 0%, #27c2de 100%);
    background: -moz-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
    background: -webkit-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
    box-shadow: 0px 15px 28px -5px rgba(29, 130, 255, 0.45);
    -webkit-box-shadow: 0px 15px 28px -5px rgba(29, 130, 255, 0.45);
    -moz-box-shadow: 0px 15px 28px -5px rgba(29, 130, 255, 0.45);
   
}
.card {
    box-shadow: 1px 11px 70px -20px rgba(0, 0, 0, 0.70);
}
.bg-grad {
    background: linear-gradient(45deg, #665fee 0%, #27c2de 100%);
    background: -moz-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
    background: -webkit-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
}
h4 {
    color: gray;
}
.card-header {
    text-align: center;
    background-color: #fff;
    border-bottom: 0px; 
}
.logo a img
{
    height: 40px !important;
}
</style>