
<div class="container">
  <form class="books-form" action="/books" method="post">
  <br/>
    <h1 style="color: grey;">Add a New Book </h1>
    <hr width="60%" align="left"/>
    
    <div class="form-group" >
      <label for="title">Title</label>
      <input type="text" name="title" class="col-6 form-control" required>
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" name="author" class="col-6 form-control">
    </div>

    <div class="form-group">
      <label for="date">Publication Date</label>
      <input type="date" name="date" class="col-6 form-control" required>
    </div>
   
    <label for="format">Format</label>
    <div class="form-group">
          <input type="radio" name="format" class="format-option" value="PDF" checked>PDF</input>&nbsp;
          <input type="radio" name="format" class="format-option" value="eBook">EBook</input>&nbsp;
          <input type="radio" name="format" class="format-option" value="Audiobook">AudioBook</input>
        
     </div>

    <button type="submit" class="btn btn-primary" id="btn-main">Add Book</button>
    <a href="/books" class="btn btn-danger">Cancel</a>

  </form>
  <div style="position: absolute; top: 85px; right:80px;"><img src="/img/open-book.png"></div>
</div>
