<div class="home-page-container">
<br />
    <div class="text-center">
    <h1 class="text-center" style="color: rgb(255,110,110)"><strong>Book Archive</strong></h1>
    <img src="img/books.png">
    <br />
      <p class="lead">“You're never alone when you're reading a book.” <b>― Susan Wiggs</b></p>
    </div>
    <p class="text-center">
        <a class="btn btn-primary" href="/login">Log In</a> or
        <a class="btn btn-primary" href="/signup">Sign Up</a>
        
      </p>
  </div>
